nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  color: #fff;
  background-color: #4056A1;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

nav span#logo{ 
  font-family: 'Bungee', sans-serif;
  font-size: 28px;
}

nav span#compose {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav span#compose i {
  color: #eb4d4b;
  padding-top: 5px;
}