main section.new-tweet {
  margin-top: 1.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.invalid {
  display: none; /* changes to flex on error */
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  border: 2px solid rgb(255,0,0);
  background-color: rgba(255,0,0,0.2);
  color: rgb(255,0,0);
  padding: 1em;
  margin-bottom: 0.5em;
}

.invalid span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em;
}

.success {
  display: none; /* changes to flex on error */
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  border: 2px solid rgb(39, 174, 96);
  background-color: rgba(39, 174, 96, 0.2);
  color: rgb(39, 174, 96);
  padding: 1em;
  margin-bottom: 0.5em;
}

.success span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  padding: 0.5em 0;
  font-weight: 600;
}

.new-tweet textarea {
  font-size: 0.8em;
  background: transparent;
  border: 0px;
  resize: none;
  height: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 4px solid #545149;
  /* overflow: hidden; */
}

.new-tweet textarea:focus {
  outline: none !important;
  border: none;
  border-bottom: 4px solid #545149;
}

.new-tweet footer {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.new-tweet footer button {
  font-size: 0.8em;
  color: #fff;
  background-color: #4056A1;
  border: none;
  padding: 5px 10px;
}

.new-tweet footer button:hover {
  color: #eee;
  background-color: #273563;
}

