main section {
  margin-top: 1.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  padding: 0.5em 0;
}

.new-tweet textarea {
  font-size: 0.8em;
  background: transparent;
  border: 0px;
  resize: none;
  height: 1.5em;
  border-bottom: 4px solid #545149;
  overflow: hidden;
}

.new-tweet textarea:focus {
  outline: none !important;
  border: none;
  border-bottom: 4px solid #545149;
}

.new-tweet div {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.new-tweet div button {
  font-size: 0.8em;
  color: #fff;
  background-color: #4056A1;
  border: none;
  padding: 5px 10px;
}

.new-tweet div button:hover {
  color: #eee;
  background-color: #273563;
}

